.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.list-group-item{
    padding: 15px;
    border-width: 1px 0;
}
.list-group-item:first-child{
    border-radius: 0;
}
.my-list-group{
    padding-left: 20px;
}
.my-head{
    background-color: #9d9d9d;
    padding-top: 10px;
}
.my-middle{
    margin: 15px 0;
    color: black;
}
.my-middle-list {
    float: right;
    color: #9d9d9d;
    font-family: "Gill Sans MT";
    font-size: 12px;
}
.back-opacity {
    background-color:#9d9d9d;
    /*filter:Alpha(opacity=10);*/
}
/*div {font-family: "Kristen ITC";}*/
html, body {width:100%;height:100%;} /*非常重要的样式让背景图片100%适应整个屏幕*/
.my-navbar {padding:10px 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}
.my-navbar a{background:transparent !important;color:#fff !important}
.my-navbar a:hover {color:#45bcf9 !important;background:transparent;outline:0}
.my-navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/
.top-nav {
    /*padding:0;*/
    background:#ffffff;
    border-bottom: 1px solid #8c8c8c;
}
button.navbar-toggle {background-color:#fbfbfb;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
button.navbar-toggle > span.icon-bar {background-color:#dedede}
#bottom-bar a {
    padding: 8px 15px 5px 15px;
}
.icon {
    width: 20px;
    height: 20px;
}
a.set {
    padding-left: 30px;
    padding-top: 5px;
}
a.message {
    float: right;
    padding-right: 30px;
    padding-top: 3px;
}
.message > svg {
    width: 22px;
    height: 22px;
    /*font-size: 22px;*/
}
#title-center {
    display: none;
    font-size:20px;
}
.list-group-item {
    padding: 20px 15px;
}
.color-gray {
    background-color: #eeeeee;
}
.color-gray > a {
    color: black;
}
#goods-list > li {
    margin: 10px -5px;
}
#home-head > .row {
    padding: 10px 0;
}
#order-head > .row {
    padding: 10px 0;
}
#home-head > .row:last-child {
    padding-bottom: 0;
}
#home-head {
    background-color: white;
}
#home-btn-group > button {
    height: 25px;
    width: 74px;
    padding: 4px 0;
}
#home-head > .row > .col-xs-3 {
    padding-top: 4px;
}
#home-head > .row > .col-xs-3 > a {
    color: black;
  }
.active-border{
  padding-bottom: 10px;color: #11a3f2;
}
.active-border:after {
    content: '';
    position: absolute;
    left: 26%;
    top: auto;
    bottom: 0;
    right: auto;
    height: 4px;
    width: 48%;
    background-color: #11a3f2;
}
.date-list > .active-date-list {
    color: #11a3f2;
}
.active-date-list:after {
    content: '';
    position: absolute;
    left: 0;
    top: auto;
    bottom: 6px;
    right: auto;
    height: 3px;
    width: 100%;
    background-color: #11a3f2;
}
.buy-ticket {
    /*margin-top: 40px;*/
    border: 1px solid #11a3f2;
    background-color: #11a3f2;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    padding: 3px 7px;
    width: 44px;
}
#home-film-list {
    border-top: 1px solid black;
    border-top-left-radius: 10px;
    /*border-top-right-radius: 20px;*/
}
#home-film-list > .list-group-item:first-child {
    border-top: none;
}
#search-input{
    background-color: white;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#login-list > .list-group-item {
    padding: 10px;
}
#login-btn {
    background-color: #7266ba;
    border-color: #7266ba;
    color: white;
    border-radius: 2px;
    opacity: 0.65;
}
.member-1,.member-2,.member-3 {
    border-radius: 10px;
    height: 180px;
    color: white;
}
.member-1{
    background: linear-gradient(-60deg, rgb(254, 96, 35) 0%, #fef09f 100%);
}
.member-2{
    background: linear-gradient(-60deg, #252525 0%, #bababa 100%);
}
.member-3{
    background: linear-gradient(-50deg, #3d5199 0%, rgba(51, 216, 235, 0.8) 100%);
}
.member-name-2 {
    padding-top: 45px;
    padding-left:25px;
    padding-bottom: 70px;
    font-size: 25px;
}
#member_info {
    padding: 15px;
}
#member_detail_head {
    padding: 60px 45px;
    border: none;
    position: fixed;
    background-color: #adadad;
}
#market_nav > li {
    padding: 10px 5px;
    text-align: center;
}
#bottom-bar > li {
    padding: 0;
    min-width: 60px;
}
#shopping_trolley {
    margin-top: 5px;
    background-color: white;
    padding-left: 4px;
    padding-top: 3px;
    width: 27px;
}
.overflow {
    /*文本超出用省略号代替*/
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.my-middle > div {
    padding: 0;
}
.film-info > .col-xs-12 {
    font-size: 12px;
    padding: 2px 15px;
}
.film-info {
    padding-top: 10px;
}
#orderHead > .col-xs-3 {
    color: black;
}
#orderHead > .active-border {
    color: #11a3f2;
}
#order-info > .row {
    padding: 1px 0 7px;
}
#date-list > a {
    text-align: center;
    padding: 10px 15px 17px;
    width: 27%;
}
#date-list {
    margin-bottom: -7px;
}
.navbar-fixed-top {
    width: 360px;
}
#arr-list > a {
    width: 360px;
    margin: 0;
}

#seat_title {
    padding: 5px 0;
}
#seat_title > .col-xs-12 {
    padding: 2px 15px;
}
#seat_title > .col-xs-12:first-child {
    font-size: 16px;
}
#seat_title > .col-xs-12:last-child {
    color: rgb(193, 193, 193)
}
.front{width: 300px;margin: 5px 32px;background-color: #f0f0f0;	color: #666;text-align: center;padding: 3px;border-radius: 5px;}

.booking_area {float: left;position: relative;width:200px;height: 450px; }

.booking_area h3 {margin: 5px 5px 0 0;font-size: 16px;}

.booking_area p{line-height:26px; font-size:16px; color:#999}

.booking_area p span{color:#666}

div.seatCharts-cell {color: #182C4E;height: 25px;width: 25px;line-height: 25px;margin: 3px;float: left;text-align: center;outline: none;font-size: 13px;}

div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

div.seatCharts-row {height: 35px;}

div.seatCharts-seat.available {background-color: #B9DEA0;}

div.seatCharts-seat.focused {background-color: #76B474;border: none;}

div.seatCharts-seat.selected {background-color: #e63f7b;}

div.seatCharts-seat.unavailable {background-color: #969898;cursor: not-allowed;}

div.seatCharts-container {border-right: 1px dotted #adadad;width: 360px;padding: 0;float: left;}

div.seatCharts-legend {padding: 0 30px}

ul.seatCharts-legendList {padding-left: 0;}

.seatCharts-legendItem{float:left; width:90px;margin-top: 10px;line-height: 2;}

span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;}

.checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer}

#seats_chose {max-height: 150px;overflow-y: auto;}

#seats_chose li{float:left; width:72px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center}

